@model WebAppPharma.Models.Producto

@{
    ViewData["Title"] = "Detalles del Producto";
}

<div class="container mt-5">
    <div class="card shadow-lg border-0">
        <div class="card-header bg-info text-white text-center">
            <h2 class="mb-0">
                <i class="fas fa-info-circle"></i> Detalles del Producto
            </h2>
        </div>
        <div class="card-body p-5">
            <dl class="row">
                <dt class="col-sm-4 font-weight-bold text-primary">Código de Producto</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.CodigoProducto)</dd>

                <dt class="col-sm-4 font-weight-bold text-primary">Nombre</dt>
                <dd class="col-sm-8 text-uppercase">@Html.DisplayFor(model => model.Nombre)</dd>

                <dt class="col-sm-4 font-weight-bold text-primary">Precio</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Precio)</dd>

                <dt class="col-sm-4 font-weight-bold text-primary">Cantidad en Stock</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.CantSock)</dd>

                <dt class="col-sm-4 font-weight-bold text-primary">Categorias</dt>
                <dd class="col-sm-8">
                    @if (Model.ProductosCategorias != null)
                    {
                        @foreach (var productoCategoria in Model.ProductosCategorias)
                        {
                            @("-" + productoCategoria.Categoria.Tipo + " ");
                        }
                    }
                </dd>

                <dt class="col-sm-4 font-weight-bold text-primary">Proveedores</dt>
                <dd class="col-sm-8">
                    @if (Model.ProductosProveedores != null)
                    {
                        @foreach (var productoProveedor in Model.ProductosProveedores)
                        {
                            @(productoProveedor.Proveedor.Nombre + " " + productoProveedor.Proveedor.Apellido);
                        }
                    }
                </dd>

                <dt class="col-sm-4 font-weight-bold text-primary">Foto del Producto</dt>
                <dd class="col-sm-8">
                    @if (!string.IsNullOrEmpty(Model.Foto))
                    {
                        <img src="~/fotografias/@Model.Foto" class="img-fluid rounded-circle img-thumbnail mb-4" style="width: 90px; height: 80px;" />
                    }
                </dd>


                <dt class="col-sm-4 font-weight-bold text-primary">Fecha de Ingreso</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.FechaIngreso)</dd>

                <dt class="col-sm-4 font-weight-bold text-primary">Fecha de Vencimiento</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.FechaVencimiento)</dd>
            </dl>

            <div class="text-center">
                <a asp-action="Edit" asp-route-id="@Model.IdProducto" class="btn btn-lg btn-warning px-4 py-2">
                    <i class="fas fa-edit"></i> Editar
                </a>
                <a asp-action="Index" class="btn btn-lg btn-secondary ms-3">
                    <i class="fas fa-arrow-left"></i> Volver al Listado
                </a>
            </div>
        </div>
    </div>
</div>
