@model WebAppPharma.Models.Producto

@{
    ViewData["Title"] = "Editar Producto";
}

<div class="container mt-5">
    <div class="card shadow-lg border-0">
        <div class="card-header bg-warning text-white text-center">
            <h2 class="mb-0">
                <i class="fas fa-edit"></i> Editar Producto
            </h2>
        </div>
        <div class="card-body p-5">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                <input type="hidden" asp-for="IdProducto" />

                <div class="mb-4">
                    <label asp-for="CodigoProducto" class="form-label font-weight-bold text-primary">Código de Producto</label>
                    <input asp-for="CodigoProducto" class="form-control form-control-lg" />
                    <span asp-validation-for="CodigoProducto" class="text-danger"></span>
                </div>

                <div class="mb-4">
                    <label asp-for="Nombre" class="form-label font-weight-bold text-primary">Nombre</label>
                    <input asp-for="Nombre" class="form-control form-control-lg text-uppercase" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="mb-4">
                    <label asp-for="Precio" class="form-label font-weight-bold text-primary">Precio</label>
                    <input asp-for="Precio" class="form-control form-control-lg" />
                    <span asp-validation-for="Precio" class="text-danger"></span>
                </div>

                <div class="mb-4">
                    <label asp-for="CantSock" class="form-label font-weight-bold text-primary">Cantidad en Stock</label>
                    <input asp-for="CantSock" class="form-control form-control-lg" />
                    <span asp-validation-for="CantSock" class="text-danger"></span>
                </div>

                <div class="form-group mb-4">
                    <label class="form-label font-weight-bold text-primary">Seleccionar Categorias</label>
                    @foreach (var categoria in ViewBag.Categorias)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="@categoria.Value" name="categoriasSeleccionadas[]" id="categoria_@categoria.Value"
                            @(categoria.Selected ? "checked" : "")>
                            <label class="form-check-label" for="categoria_@categoria.Value">@categoria.Text</label>
                        </div>
                    }
                </div>

                <div class="form-group mb-4">
                    <label class="form-label font-weight-bold text-primary">Seleccionar Proveedores</label>
                    @foreach (var proveedor in ViewBag.Proveedores)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="@proveedor.Value" name="proveedoresSeleccionados[]" id="proveedor_@proveedor.Value"
                            @(proveedor.Selected ? "checked" : "")>
                            <label class="form-check-label" for="proveedor_@proveedor.Value">@proveedor.Text</label>
                        </div>
                    }
                </div>

                <div class="form-group mb-4">
                    <label asp-for="Foto" class="form-label font-weight-bold text-primary">Foto del Producto</label>
                    <input type="hidden" asp-for="Foto" />
                    <div class="mb-4">
                        <img id="imagen"
                             src="@(String.IsNullOrEmpty(Model.Foto) ? "" : Url.Content("~/fotografias/" + Model.Foto))"
                             class="rounded-circle img-thumbnail mb-4"
                             style="width: 90px; height: 80px; @(String.IsNullOrEmpty(Model.Foto) ? "display:none;" : "display:block;")" />

                        <img id="imagen" src="~/fotografias/@Model.Foto"
                             class="rounded-circle img-thumbnail"
                             style="width: 90px; height: 80px; display: none;"
                             asp-append-version="true" />
                    </div>
                    <input type="file" id="seleccionImg" name="imagen" class="form-control" accept=".jpg,.jpeg,.png" />
                </div>

                <div class="mb-4">
                    <label asp-for="FechaIngreso" class="form-label font-weight-bold text-primary">Fecha de Ingreso</label>
                    <input asp-for="FechaIngreso" class="form-control form-control-lg" />
                    <span asp-validation-for="FechaIngreso" class="text-danger"></span>
                </div>

                <div class="mb-4">
                    <label asp-for="FechaVencimiento" class="form-label font-weight-bold text-primary">Fecha de Vencimiento</label>
                    <input asp-for="FechaVencimiento" class="form-control form-control-lg" />
                    <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-lg btn-warning px-5 py-2">
                        <i class="fas fa-save"></i> Guardar Cambios
                    </button>
                    <a asp-action="Index" class="btn btn-lg btn-secondary ms-3">
                        <i class="fas fa-arrow-left"></i> Volver al Listado
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/js//preview.js"></script>
}
