@model WebAppPharma.ViewModels.ProductosViewModel

@{
    ViewData["Title"] = "Index";
}
<div class="container mt-5">
    <h1 class="text-center mb-4" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
        <i class="fas fa-boxes"></i> GESTIÓN DE PRODUCTOS
    </h1>

    <p class="text-center">
        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Create" class="btn btn-success btn-lg mb-3" style="background-color: #2ecc71; border: none;">
                <i class="fas fa-plus"></i> Ingresar Nuevo Producto
            </a>
            <a asp-action="Import" class="btn btn-info btn-lg mb-3" style="border: none;">
                <i class="fas fa-file-import"></i> Importar Nuevos Productos
            </a>
        }
    </p>

    <form asp-action="Index" method="get" class="mb-4">
        <div class="row g-3">
            <div class="col-md-2">
                <label for="BusquedaCod" class="form-label">Codigo del producto</label>
                <input type="text" class="form-control" asp-for="BusquedaCod" />
            </div>

            <div class="col-md-3">
                <label for="BusquedaNombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" asp-for="BusquedaNombre" />
            </div>

            <div class="col-md-3">
                <label for="BusquedaFechaVencimiento" class="form-label">Fecha de Vencimiento</label>
                <input type="date" class="form-control" asp-for="BusquedaFechaVencimiento" />
            </div>
            <div class="col-md-2">
                <label></label>
                <button type="submit" class="btn btn-primary w-100">
                    <i class="fas fa-filter"></i> Filtrar
                </button>
            </div>
        </div>
    </form>

    @if (Model.Productos != null && Model.Productos.Any())
    {
        <div class="table-responsive">
            <table class="table table-hover table-bordered table-striped text-center align-middle">
                <thead class="thead-dark">
                    <tr style="border: 1.3px solid black;">
                        <th>@Html.DisplayNameFor(model => model.Productos[0].CodigoProducto)</th>
                        <th>@Html.DisplayNameFor(model => model.Productos[0].Nombre)</th>
                        <th>@Html.DisplayNameFor(model => model.Productos[0].Precio)</th>
                        <th>@Html.DisplayNameFor(model => model.Productos[0].CantSock)</th>
                        <th>@Html.DisplayNameFor(model => model.Productos[0].Foto)</th>
                        <th>@Html.DisplayNameFor(model => model.Productos[0].FechaIngreso)</th>
                        <th>@Html.DisplayNameFor(model => model.Productos[0].FechaVencimiento)</th>
                        <th>@Html.DisplayNameFor(model => model.Productos[0].ProductosCategorias)</th>
                        <th>@Html.DisplayNameFor(model => model.Productos[0].ProductosProveedores)</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Productos)
                    {
                        <tr style="border: 1px solid #ccc;">
                            <td>@(item.CodigoProducto ?? "---")</td>
                            <td style="text-transform: uppercase;">@Html.DisplayFor(modelItem => item.Nombre)</td>
                            <td>@(item.Precio.HasValue ? item.Precio.Value.ToString() : "---")</td>
                            <td>@Html.DisplayFor(modelItem => item.CantSock)</td>
                            <td>
                                @if (!string.IsNullOrEmpty(item.Foto))
                                {
                                    <img src="~/fotografias/@item.Foto" class="img-fluid img-thumbnail" style="width: 100px; height: 70px;" />
                                }
                                else
                                {
                                    <p>---</p>
                                }
                            </td>
                            <td>@(item.FechaIngreso.HasValue ? item.FechaIngreso.Value.ToString("dd/MM/yyyy") : "---")</td>
                            <td>@(item.FechaVencimiento.HasValue ? item.FechaVencimiento.Value.ToString("dd/MM/yyyy") : "---")</td>
                            <td>
                                @if (item.ProductosCategorias != null && item.ProductosCategorias.Any())
                                {
                                    @foreach (var productoCategoria in item.ProductosCategorias)
                                    {
                                        <p>
                                            -@(productoCategoria.Categoria.Tipo)
                                        </p>
                                    }
                                }
                                else
                                {
                                    <p>---</p>
                                }
                            </td>
                            <td>
                                @if (item.ProductosProveedores != null && item.ProductosProveedores.Any())
                                {
                                    @foreach (var productoProveedor in item.ProductosProveedores)
                                    {
                                        <p>
                                            -@(productoProveedor.Proveedor.Nombre)
                                        </p>
                                    }
                                }
                                else
                                {
                                    <p>---</p>
                                }
                            </td>
                            <td>
                                @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.IdProducto" class="btn btn-warning btn-sm me-2">
                                        <i class="fas fa-edit"></i> Editar
                                    </a>
                                }
                                <a asp-action="Details" asp-route-id="@item.IdProducto" class="btn btn-info btn-sm me-2">
                                    <i class="fas fa-info-circle"></i> Detalles
                                </a>
                                @if (User.IsInRole("Admin"))
                                {
                                    <a asp-action="Delete" asp-route-id="@item.IdProducto" class="btn btn-danger btn-sm">
                                        <i class="fas fa-trash-alt"></i> Eliminar
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p class="text-center text-muted">No se encontraron productos para mostrar.</p>
    }
</div>

<partial name="_Paginator" for="@Model.Paginador" />


